.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Container > p {
  margin-top: 2rem;
}
.Container > h1 {
  margin-top: 2rem;
  font-weight: bold;
}
