@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap");
.preheader {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  border: none;
  margin-top: 5em;
  color: gray;
  font-size: 1rem;
  text-align: center;
  font-family: "Mulish", sans-serif;
  display: flex;
  justify-content: center;
}
.preheaderHeading {
  font-family: "Mulish", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 2.1em;
  margin-top: 1.25em;
}
.ImageRight {
  width: 500px;
  height: 500px;
}

.ServiceSection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ServiceSection1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.LeftHeading {
  font-family: "Mulish", sans-serif;
  margin-bottom: 1.25em;
  font-weight: 700;
}
.LeftSection > p {
  font-family: "Mulish", sans-serif;
  font-size: 1.25em;
}
.RightSection > p {
  font-family: "Mulish", sans-serif;
  font-size: 1.25em;
}
.MobileContainer {
  display: none;
}
@media screen and (max-width: 1024px) {
  .MobileContainer {
    display: block !important;
  }
  .ServiceSection {
    display: none;
  }
  .ServiceSection1 {
    display: none;
  }
  .preheaderHeading {
    font-size: 1.5rem;
  }
  .preheaderHeading {
    margin: 20px;
  }
  .preheader {
    font-size: 15px;
  }
}
/* Starting The Mobile View  */
.MobileContainer {
  margin-top: 2rem;
}
.MobileContainer > h2 {
  text-align: center;
  margin-top: 2rem;
}
.MobileContainer > p {
  margin-top: 2rem;
  text-align: center;
}
.MobileContainer > h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: black;
  font-weight: 500;
  letter-spacing: 2px;
}
.ContentMobile {
  margin-top: 3rem;
  margin-left: 20px;
  margin-right: 20px;
}
.ContentMobile > h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
}
.ContentMobile > p {
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  text-align: center;
}
