.Parent {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  flex: 1;
  flex-direction: column;
  /* margin-top: 4rem; */
  margin: 10rem;
  padding: 20px;
}
.Content {
  margin-top: 20px;
}
.Content > p {
  text-align: center;
}
.ContentBreaker {
  margin-top: 20px;
}
