.Container{
    max-width: 1280px;
    margin: 80px auto 0;   
}

.InnerContainer{
    background: #eee;
    cursor: pointer;
    padding: 30px;
    border-radius: 5px;
}
.InnerContainer:hover{
    background:rgb(233, 233, 233) ;
}
.InnerContainer > h1{
    font-weight: 500;
}

.InnerContainer > p{

    margin-top: 10px;
}

.EmailBox{
    margin-top: 15px;
    padding: 10px 20px;
    width: 25rem;
    outline: none;
    cursor: pointer;
    border: none;
}
.Btn > button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px 20px;
    background: #5f00cd;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
}
@media screen and (max-width:1080px){
    .EmailBox{
        margin-top: 15px;
        padding: 10px 20px;
        width: 100%;
        outline: none;
        cursor: pointer;
        border: none;
    }
    .Btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    .Btn > button{
        padding: 10px 20px;
        background: #5f00cd;
        color: white;
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
}