@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

.Container{
    max-width: 100%;
    margin: 80px auto 0;
    background: #333;
    box-shadow: none;
    border-radius: 0;
    padding: 60px 0;
}

.InnerContainer{
    max-width: 1280px;
    margin: 0 auto;
    
}

.Heading > h1{
    color: #fff;
    font-size: 1.7em;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
}

.MainBox{
    margin-top: 2rem;
}

.Transform{
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #fff;
}
.TransformMain > li {
    list-style-type: none;
}
.MainWord{
    margin-left: 1.1rem;
}
.MainWord > li{
    font-size: 1.1rem;
    list-style: none;
    padding-top: 1rem;
    color: #fff;
}
.Boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 1080px) {
  .Container{
      width: 100%;
      margin: 0 auto;
  }
   .Boxes{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
     
   }
   .InnerContainer{
       margin-top: 2.7rem !important;
   }
   .Heading{
       margin: 20px;
   }
   .Heading h1{
       font-weight: 500;
       font-size: 1.7rem;
       text-align: center;
       margin-bottom: 2rem;
   }
   .MainBox{
    width: 95%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
}
.MainWord{
    margin-left: 0rem;
}
#HideInPhone{
    display: none;
}

}