.Container{
    max-width: 1280px;
    margin: 80px auto 0;
}
.TopContent > h1{
    color: #4d4848;
    font-weight: 500;
}
.TopContent > p{
    margin-top: 1.2rem;
}
.TechContainer{
    border: 1px solid #eee;
    padding: 20px;
    margin-top: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1080px) {
    .Container{
        max-width: 100%;
        margin: 0 auto;
    }
    .TopContent > h1{
        color: #4d4848;
        font-weight: 500;
      
        margin: 20px;
    }
    .TopContent{
        margin-top: 4rem;
    }
    .TopContent >  p{
        margin: 20px;
    }
    .TechContainer{
        border: 1px solid #eee;
        padding: 20px;
        margin-top: 3rem;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }


}