@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&family=Poppins:wght@300&display=swap");

.AccordianBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4rem;
  /* background: #eee; */
  /* box-shadow: 5px 5px 2px 2px #ccc; */
  margin-top: 4rem;
  padding: 20px;
}
.banner {
  width: 700px;
  height: 400px;
  border-radius: 5px;
}
.banner:hover {
  cursor: pointer;
  transform: translateY(-10px);
  transition: 0.5s ease-in;
}
.DesingAccordion {
  width: 40rem;
  border-radius: 5px;
}
.Title {
  text-align: center;
  margin-top: 0.4rem;
  font-size: 2.7rem;
  text-transform: capitalize;
}
@media screen and (max-width: 992px) {
  .AccordianBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    /* background: #eee; */
    margin-left: 1px;
    box-shadow: none;
    border-radius: 5px;
  }
  .banner {
    display: none;
  }
  .DesingAccordion {
    margin: 40px;
    width: 100%;
  }
  .Title {
    text-align: center;
    margin-top: 3rem;
    margin-left: 10px;
    font-size: 1.9rem;
    text-transform: capitalize;
  }
}
@media screen and (max-width: 1370px) {
  .banner {
    width: 500px;
    height: 400px;
  }
}
