.footerboxwrap {
max-width: 1280px;
margin: 0 auto;
width: 90%;
}
.wrapleft.infofotter {
}
.footerboxwrap {
display: flex;
justify-content: space-between;
padding: 10px 0 10px 0px;
}
.wrapleft.infofotter {
max-width: 25%;
width: 25%;
}
.wrapright {
    width: 100%;
    max-width: 60%;
    display: flex;
    justify-content: end;
    padding-top: 10px;

}


.footerbox h2 {
font-size: 16px;
padding-bottom: 10px;
color: #999;
}
.footerbox ul {
list-style: none;
display: flex;
gap: 33px;
}
.footerbox li {
padding: 8px 0;
}
.footerbox a {
color: #000;
text-decoration: none;
font-size: 18px;
}
.copyrightwrap {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    max-width: 1280px;
    margin: 0 auto;
    width: 90%;
    text-align: left;
}
.footermains {
    background: #f6f6f6;
    padding: 20px 0;
}


@media screen and (max-width: 767px) {
.footermains {
max-width: 360px;
}
.footerboxwrap {
padding: 0;
flex-direction: column;
margin: 0 auto;
text-align: center;
}
.wrapleft.infofotter {
    width: 40%;
    text-align: left;
}
.footerboxwrap {
max-width: 360px;
margin: 0 auto;
width: 90%;
}
.wrapright {
width: 100%;
max-width: 100%;
display: flex;
justify-content: space-around;
padding-top: 10px;
flex-direction: column;
}
.copyrightwrap {
text-align: center;
border-top: 1px solid #ddd;
padding-top: 20px;
max-width: 360px;
margin: 0 auto;
width: 90%;
margin: 0;
}
.socilicos ul {
flex-direction: column;
}
}.socilicos ul {
list-style: none;

display: flex;
}
.socilicos ul li {
padding: 20px 10px;
}
