@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&family=Poppins:wght@300&display=swap");

.Holder {
  background: #fff;
  width: 100%;
  position: absolute;
  height: 100vh;
  top: 0;
  overflow: hidden;
  transform: translateX(-100%);
}
.Menu {
  position: relative;
  top: 13%;
  left: 4%;
}

.CutBtn {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  position: relative;
  bottom: 20;
}
.Menu > ul > li {
  list-style: none;
  margin-top: 20px;
  font-family: "Mulish", sans-serif;
  font-size: 1.7rem;
}
.Logo {
  display: none;
}
/* .toggleBTn {
  position: absolute;
  top: 3%;
  left: 160%;
  display: none;
} */
.toggleBTn {
  display: none;
}
.makeBoxFlex {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

@media screen and (max-width: 992px) {
  .Holder {
    display: block;
    transition: 0.5s ease-in-out;
    transform: translateX(0);
  }
  .toggleBTn {
    display: block;
    outline: none;
    background: none;
    cursor: pointer;
    border: none;
  }
  .makeBoxFlex {
    display: flex;

    justify-content: space-between;
    /* margin: 20px; */
  }
  .Logo {
    width: 140px;
    height: 50px;
    display: block;
  }
}
