@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&family=Poppins:wght@300&display=swap");

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 26px 0;
  box-shadow: 0px 3px 6px #eee;
}
.Listing {
  display: flex;
}

.Listing > li {
  list-style-type: none;
  margin: 10px;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
  color: #37373f !important;
  letter-spacing: 1px;
}

.LogoContain {
  width: 150px;
  height: 40px;
  margin-right: 20px;
  margin-bottom: 4px;
}
.Git{
  width: 17px;
  height: 17px;
}
.BtnStyleOne {
  font-size: 1rem;
  padding: 12px 20px;
  outline: none;
  border: none;
  font-weight: 700;
  background: #7700e5;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Mulish", sans-serif;
  letter-spacing: 1px;
  margin-left: 5px;
}
.BtnStyleOne:hover {
  background: #3703a0;
  transition: 0.2s ease-in;
}
.RightContainer > .Listing {
  margin-top: 2px;
}
@media screen and (max-width: 1100px) {
  .Listing > li {
    list-style-type: none;
    margin-right: 5px;
    font-weight: 500;
    font-family: "Mulish", sans-serif;
    color: #37373f !important;
    letter-spacing: 1px;
    font-size: 1rem;
  }
  .BtnStyleOne {
    font-size: 1rem;
    padding: 12px 15px;
    outline: none;
    border: none;
    font-weight: 700;
    background: #7700e5;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Mulish", sans-serif;
    letter-spacing: 1px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 992px) {
  .mainContainer {
    display: none;
  }
  .Listing {
    margin-left: 10px;
  }
  .RightContainer {
    display: none;
  }
  .Container {
    display: none;
  }
}
